<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wy.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />


    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
        android:name=".application.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.wy.demo.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.wy.demo.activity.SelectionPhoneActivity" />
        <activity android:name="com.wy.demo.activity.CustomerViewActivity" />
        <activity android:name="com.wy.demo.activity.AliPayHomeActivity" />
        <activity android:name="com.wy.demo.activity.ClockActivity" />
        <activity android:name="com.wy.demo.activity.DialogActivity" />
        <activity android:name="com.wy.demo.activity.QQMsgActivity" />
        <activity android:name="com.wy.demo.activity.ScrollingActivity" />
        <activity android:name=".activity.Code2Activity" />
        <activity android:name=".code2.activity.CaptureActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.MySurfaceActivity" />
        <activity android:name=".activity.SliderBarActivity" />
        <activity android:name=".activity.SnowActivity" />
        <activity android:name=".activity.BluetoothActivity" />
        <activity android:name=".bluetoothchat.BluetoothChatActivity" />
        <activity android:name=".bluetoothchat.DeviceListActivity" />
        <activity android:name=".activity.BluetoothChatActivity" />
        <activity android:name=".activity.OpenBtActivity" />
        <activity android:name=".activity.HuaweiVoiceActivity" />
        <activity android:name=".activity.WangYiMusicActivity" />
        <activity android:name=".activity.RecordActivity" />
        <activity android:name=".activity.DropDownActivity" />
        <activity android:name=".activity.QueryCodeActivity" />


        <service android:name="com.wy.demo.service.InteractionService" />
        <service android:name="com.wy.demo.service.UnInteractionService" />
        <service android:name="com.wy.demo.service.WeatherService" />
        <service android:name=".service.MusicService" />
        <service android:name=".service.RecorderService" />


        <!--注册 存储照的容器-->
        <!--
        name:属性值，固定写法
        authorities:组件标识，按照江湖规矩,都以包名开头,避免和其它应用发生冲突。和FileProvider.getUriForFile()方法的第二个参数一致
        exported:要求必须为false，为true则会报安全异常。
        grantUriPermissions:true，表示授予 URI 临时访问权限。
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wy.demo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!--指定Uri的共享路径-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>


        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="AK" />

    </application>


</manifest>