<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wy.demo">


    <application
        android:name="com.wy.jnssy.application.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.wy.demo.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.wy.jnssy.activity.Code2Activity" />
        <activity android:name="com.wy.jnssy.code2.activity.CaptureActivity" />
        <activity android:name="com.wy.jnssy.activity.UserInfoActivity" />
        <activity android:name="com.wy.jnssy.activity.BaseActivity" />
        <activity android:name="com.wy.jnssy.activity.MySurfaceActivity" />
        <activity android:name="com.wy.jnssy.activity.SliderBarActivity" />
        <activity android:name="com.wy.jnssy.activity.SnowActivity" />
        <activity android:name="com.wy.jnssy.activity.BluetoothActivity" />
        <activity android:name="com.wy.jnssy.bluetoothchat.BluetoothChatActivity" />
        <activity android:name="com.wy.jnssy.bluetoothchat.DeviceListActivity" />
        <activity android:name="com.wy.jnssy.activity.BluetoothChatActivity" />
        <activity android:name="com.wy.jnssy.activity.OpenBtActivity" />
        <activity android:name="com.wy.jnssy.activity.WangYiMusicActivity" />
        <activity android:name="com.wy.jnssy.activity.RecordActivity" />
        <activity android:name="com.wy.jnssy.activity.DropDownActivity" />
        <activity android:name="com.wy.jnssy.activity.QueryCodeActivity" />


        <service android:name="com.wy.jnssy.service.InteractionService" />
        <service android:name="com.wy.jnssy.service.UnInteractionService" />
        <service android:name="com.wy.jnssy.service.MusicService" />
        <service android:name="com.wy.jnssy.service.RecorderService" />

        <activity android:name="com.wy.jnssy.activity.CustomerViewActivity" />
        <activity android:name="com.wy.jnssy.activity.ClockActivity" />
        <activity android:name="com.wy.jnssy.activity.DialogActivity" />
        <activity android:name="com.wy.jnssy.activity.SelectionPhoneActivity" />
        <activity android:name="com.wy.jnssy.activity.QQMsgActivity" />
        <!--注册 存储照的容器-->
        <!--
        name:属性值，固定写法
        authorities:组件标识，按照江湖规矩,都以包名开头,避免和其它应用发生冲突。和FileProvider.getUriForFile()方法的第二个参数一致
        exported:要求必须为false，为true则会报安全异常。
        grantUriPermissions:true，表示授予 URI 临时访问权限。
        -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wy.demo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!--指定Uri的共享路径-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>


        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="AK" />

    </application>


</manifest>